<div class="modal fade" id="newComponent" role="dialog" ng-controller="diagramEditorCntrl">
    <div class="modal-dialog">
      	<!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<h4 class="modal-title">Create component</h4>
        	</div>
        
       		<div class="modal-body">
          		<form role="form" id="componentAddForm" class="form-horizontal" >

					<!-- Component Name -->
					<div class="form-group">
						<label for="componentAddName" class="control-label col-sm-4">Component
							name: </label>
						<div class="col-sm-8">
							<input class="form-control" id="componentAddName" type="text"
								ng-model="newObject.name" placeholder="Component name">
						</div>
					</div>

					<!-- Component ID -->
					<div class="form-group">
						<label for="componentAddID" class="control-label col-sm-4">Component
							ID: </label>
						<div class="col-sm-8">
							<input class="form-control" id="componentAddID" type="text"
								ng-model="newObject.id" placeholder="Component ID">
						</div>
					</div>

					<!-- Component type -->
					<div class="form-group">
						<label for="componentAddType" class="control-label col-sm-4">Component type: </label>
						<div class="col-sm-8">
							<input class="form-control" id="componentAddType" type="text"
								ng-model="newObject.type" placeholder="Component type">
						</div>
					</div>

					<!-- Ports -->
					<div class="form-group">
						<div ng-repeat="portgroup in portarrays" class="col-sm-6">
							<!-- ng-repeat="portgroup in [{array: editedObject.inputs, name: 'Inputs'}, {array: editedObject.outputs, name: 'Outputs'}]">-->
							<table class="table table-hover">
								<thead>
									<tr>
										<th style="text-align:center">
											<div>{$portgroup.name$} 
												<i class="fa fa-plus" ng-click="componentAddPort(newObject, portgroup.name)"></i>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="port in portgroup.array">
										<td>
										    <div class="input-group add-on">
												<input class="form-control" type="text" ng-model="port.name"
													placeholder="Port name">
												<div class="input-group-btn">
													<button class="btn btn-default" ng-click="componentRemovePort(newObject, portgroup.name, port)" type="submit">
														<i class="fa fa-remove"></i>
													</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
        	</div>
	        <div class="modal-footer">
				<button ng-click="componentAddSubmit()" class="btn btn-default" data-dismiss="modal">OK</button>
				<button ng-click="componentAddCancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-default" data-dismiss="modal">Template</button>
	        </div>
      </div>
    </div>
</div>