<li class="dropdown"><a class="dropdown-toggle"
	data-toggle="dropdown" href="#"> <i class="fa fa-file fa-fw"></i> <i
		class="fa fa-caret-down"></i>
</a>
	<ul class="dropdown-menu dropdown-messages">
		<li><a ng-click="api.new()">
				<div>
					<strong>New</strong> <span class="pull-right text-muted"> <em></em>
					</span>
				</div>
		</a></li>

		<li><a ng-click="api.fileDialog({'open':true})">

				<div>
					<strong>Open</strong> <span class="pull-right text-muted"> <em>ctrl + o</em>
					</span>
				</div>
		</a></li>
		<li><a ng-click="api.synthetize()">
				<div>
					<strong>Export</strong> <span class="pull-right text-muted">
						<em></em>
					</span>
				</div>
		</a></li>
		<li><a ng-click="api.save(api.openedFile)">
				<div>
					<strong>Save</strong> <span class="pull-right text-muted"> <em>ctrl + s</em>
					</span>
				</div>
		</a></li>
		<li><a ng-click="api.fileDialog({'save':true})">
				<div>
					<strong>Save as</strong> <span class="pull-right text-muted">
						<em>ctrl + shift + s</em>
					</span>
				</div>
		</a></li>
		<li><a>
				<div>
					<strong>Delete</strong> <span class="pull-right text-muted">
						<em>ctrl + d</em>
					</span>
				</div>
		</a></li>
	</ul> <!-- /.dropdown-messages -->
</li>

<li class="dropdown"><a data-toggle="tooltip" title="Import" ng-click="api.fileDialog({'import':true})"> <i
		class="fa fa-plus-square fa-fw"></i>
</a></li>

<li class="dropdown"><a ng-click="api.componentAddDialog()" data-toggle="tooltip" title="New component"> <i
		class="fa fa-plus fa-fw"></i>
</a></li>

<li class="dropdown"><a class="dropdown-toggle disabled" data-toggle="tooltip" title="Edit component" > <i
		class="fa fa-edit fa-fw"></i>
</a></li>

<li class="dropdown"><a class="dropdown-toggle disabled" data-toggle="tooltip" title="Undo" ng-click="api.undo()"> <i class="fa fa-rotate-left fa-fw"></i>
</a></li>

<li class="dropdown"><a class="dropdown-toggle disabled" data-toggle="tooltip" title="Redo" ng-click="api.redo()"> <i class="fa fa-rotate-right fa-fw"></i>
</a></li>

<li class="dropdown"><a class="dropdown-toggle disabled " data-toggle="tooltip" title="Delete component" ng-click="api.objectDelete()"> <i class="fa fa-trash fa-fw"></i>
</a></li>





