# temporary files
*~
cli_toolkit/vivado/samples/.Xil


# internal files
altium_toolkit/__pycache__/
cli_toolkit/__pycache__/
cli_toolkit/vivado/samples/__pycache__/
cli_toolkit/ip_packager/__pycache__/
cli_toolkit/samples/__pycache__/
hls_toolkit/samples/__pycache__/
hls_toolkit/samples/exactMatcherVivadoHls/solution1/.autopilot/
hdl_toolkit/synthetisator/__pycache__/
hdl_toolkit/samples/iLvl/vhdl/__pycahe__/
hdl_toolkit/samples/sLvl/vhdl/__pycache__/
visualizer/__pycache__/
visualizer/workspace/__pycache__/

*.pyc
*.dill
*.class

hdl_toolkit/parser/hdlConvertor/build
hdl_toolkit/parser/hdlConvertor/Debug
hdl_toolkit/parser/hdlConvertor/dist


# python egg folders
build/
dist/
hwtoolkit.egg-info/

# eclipse project files
.project
.pydevproject
.settings

hdl_toolkit/vhdlConvertor/.classpath
hdl_toolkit/vhdlConvertor/.project
hdl_toolkit/vhdlConvertor/.settings/

#log files
*.jou
*.log

#test/samples tmp files
cli_toolkit/vivado/samples/tmp/*
hls_toolkit/samples/ft245ToAxi
hdl_toolkit/samples/sim/tmp/*
