# temporary files
*~


# internal files
altium_toolkit/__pycache__/
vhdl_toolkit/synthetisator/__pycache__/
visualizer/__pycache__/
visualizer/workspace/__pycache__/
vivado_toolkit/ip_packager/__pycache__/
hls_toolkit/samples/__pycache__/
vhdl_toolkit/samples/iLvl/vhdl/__pycahe__/
vhdl_toolkit/samples/sLvl/vhdl/__pycache__/

*.pyc
*.dill
*.class

# python egg folders
build/
dist/
HWToolkit.egg-info/

# eclipse project files
.project
.pydevproject
.settings

vhdl_toolkit/vhdlConvertor/.classpath
vhdl_toolkit/vhdlConvertor/.project
vhdl_toolkit/vhdlConvertor/.settings/

#log files
*.jou
*.log

#test tmp files
vivado_toolkit/samples/tmp/*
vhdl_toolkit/samples/sim/tmp/*
