recursive-include hdl_toolkit/serializer/templates_vhdl *.vhd
recursive-include hdl_toolkit/serializer/templates_verilog *.v
recursive-include visualizer *.js *.html *.css *.ico *.png *.oft *.eot *.svg *.ttf *.woff
