svg {
	/*background-color: cyan;*/
	height: 100%;
	/*display: block;*/
	width: 100%;
	position: absolute;
	/*top: 0;
	left: 0;*/
}

/*Background Grid Lines  */
#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
	background-image: linear-gradient(rgba(255, 255, 255, 0.63),
		rgba(116, 116, 116, 0.12));
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 24%,
		rgba(0, 0, 0, 0.20) 25%, rgba(0, 0, 0, 0.05) 26%, rgba(0, 0, 0, 0) 27%,
		rgba(0, 0, 0, 0) 74%, rgba(0, 0, 0, 0.20) 75%, rgba(0, 0, 0, 0.05) 76%,
		rgba(0, 0, 0, 0) 77%, transparent),
		linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 0.20) 25%,
		rgba(0, 0, 0, 0) 26%, transparent 27%, transparent 74%,
		rgba(2, 2, 2, 0.20) 75%, rgba(0, 0, 0, 0) 76%, transparent 77%,
		transparent);
	height: 100%;
	background-size: 50px 50px;
}

.node rect {
	cursor: move;
	shape-rendering: crispEdges;
}

.node text {
	pointer-events: none;
	text-shadow: 1px 1px 2px #fff;
	font-size: 0.8em;
	font-family: sans-serif;
}

#tooltip {
	position: absolute;
	pointer-events: none;
	font-size: 0.7em;
	font-family: sans-serif;
	padding: 3px;
	width: auto;
	height: auto;
	background-color: #F2F2F2;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	-mox-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px rbga(0, 0, 0, 0.4);
	pointer-events: none;
}

.value {
	white-space: pre-line;
	margin: 0;
}

.component {
	/*fill: #AFEEEE;*/
	
}

.selected-port text {
	fill: red;
}

.component text {
	fill: black;
	font-size: 9pt;
	/*text-anchor: middle;*/
}

.component .component-title {
	/*fill: #2E64FE;*/
	text-anchor: middle;
	font-size: 10pt;
}

.component .port-input text {
	fill: black;
	/*font-variant: small-caps;*/
}

.component .port-output text {
	fill: black;
	/*font-variant: small-caps;*/
	text-anchor: end;
}

.selected-object-hover rect {
	stroke: #87AFCB;
	stroke-width: 2.5;	
	filter: url(#drop-shadow);
}

.selected-object rect {
	fill: url(#red_grad);
	filter: url(#drop-shadow-hight);
}

path.link {
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

path.link-hover {
	stroke: #87AFCB;
	filter: url(#drop-shadow);
	stroke-width: 2.5px;
}

path.selected-link{
	stroke: #E20D00;
	stroke-width: 3.5px;
}

.external-port {
	fill: green;
	/*text-anchor: end;*/
}

.external-port text {
	font-size: 10pt;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 150px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	border: 0px solid black;
	vertical-align: middle;
}

path.debug-link {
	stroke: green;
	stroke-width: 1.5px;
	fill: none;
}

path.debug-link2component {
	stroke: green;
	stroke-width: 1.5px;
	fill: none;
}

path.debug-link-between-nodes {
	stroke: red;
	stroke-width: 1.5px;
	fill: none;
}

body .modal-dialog {
	/* new custom width */
	width: 840px;
	/* must be half of the width, minus scrollbar on the left (30px) */
}

.add-on .input-group-btn>.btn {
	border-left-width: 0;
	left: -2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow 
.add-on .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #cccccc;
}*/

.routing-help-line {
	stroke: blue;
}

