{{ indent }}If({{ cond }},{%
if ifTrue|length > 0 %}{% 
    for stm in ifTrue %}
{{      stm}},{% 
    endfor %}{%
endif %}{% for cond, stms in elIfs %}
{{ indent }}).Elif({{ cond }},{%
if stms|length > 0 %}{% 
    for stm in stms %}
{{      stm}},{% 
    endfor %}{%
endif %}{% endfor %}
{{ indent }}){% if ifFalse|length > 0 %}.Else({% 
if ifFalse|length > 0 %}{%
    for stm in ifFalse %}
{{stm}}{%
    endfor%}
{{ indent }}){% endif %}{% endif %}
