{{indent}}If({{cond }},
{% if ifTrue|length > 0 %}{% 
    for stm in ifTrue %}
{{stm}},{% 
    endfor %}{% 
else %}
{{indent}}    #enclosure
{{enclosure}}{%
endif %}).Else({% 
if ifFalse|length > 0 %}{%
    for stm in ifFalse %}
{{stm}}{%
    endfor%}){% 
else %}
{{indent}}    #enclosure
{{enclosure}})
{% endif %}
