{% extends "base.html" %} {% block css_extra %}
<link type="text/css" href="/static/hls/connections/style.css"
	rel="stylesheet" />
{% endblock %} {% block js_extra %}
<script type="text/javascript">
	var COLUMN_WIDTH = 120;
	var PORT_HEIGHT = 10;
	var COMPONENT_PADDING = 20;
	var NET_PADDING = 5;
</script>
<script type="text/javascript" src="/static/bower_components/angularjs/angular.js"></script>
<script type="text/javascript" src="/static/bower_components/d3/d3.js"></script>
<script type="text/javascript"
	src="/static/hls/connections/binaryheap.js"></script>
<script type="text/javascript" src="/static/hls/connections/a_star.js"></script>
<script type="text/javascript" src="/static/hls/connections/graphic_diagram_objects.js"></script>
<script type="text/javascript" src="/static/hls/connections/graphic.js"></script>
<script type="text/javascript"
	src="/static/hls/connections/dataprocessing.js"></script>
<script type="text/javascript"
	src="/static/hls/connections/net_router.js"></script>
<script type="text/javascript" src="/static/hls/connections/app.js"></script>
{% endblock %} {% block content %}
<div id="chartWraper" ng-app="App" ng-controller="diagramController">
<button ng-click="redraw()" >
  Redraw
</button>
</div>
{% endblock %}
