{% extends "base.html" %} {% block css_extra %}
<link type="text/css" href="/static/hls/connections/style.css"
	rel="stylesheet" />
{% endblock %} 
{% block js_extra %}
<script type="text/javascript">
	var nodes = [{
		id : 0,
		name : "smaller one",
		inputs : [ "clk", "rst" ],
		outputs : [ "outA", "outB" ]
	}, {
		id:1,
		name : "biggest",
		inputs : [ "clk", "rst", "inA", "inB"],
		outputs : [ "outA2", "outB2" ]	
	}, {
		id: 2,
		name : "clk",
		inputs : [],
		outputs : ["clk"]	
	}, {
		id: 3,
		name : "rst",
		inputs : [],
		outputs : ["rst"]	
	}, {
		id: 4,
		name : "dummy",
		inputs : ["clk","rst"],
		outputs : ["a", "b", "c", "d"]	
	}];
	var nets = [{"name":"clk", "source": {"id" : 2, "portIndex":0}, "targets":  [{"id":0, "portIndex":0}, {"id":1, "portIndex":0}]},
		        {"name":"rst", "source": {"id" : 3, "portIndex":0}, "targets":  [{"id":0, "portIndex":1}, {"id":1, "portIndex":1}]},
		        {"source": {"id" : 0, "portIndex":0}, "targets":  [{"id":1, "portIndex":2}]},
		        {"source": {"id" : 0, "portIndex":1}, "targets":  [{"id":1, "portIndex":3}]},
	        ];
	
	var columnWidth = 120;
	var portHeight = 10;
	var COMPONENT_PADDING = 40;
	var portsOffset = 3*portHeight - portHeight/2;
</script>
<script type="text/javascript" src="/static/bower_components/d3/d3.js"></script>
<script type="text/javascript" src="/static/hls/connections/a_star.js"></script>
<script type="text/javascript" src="/static/hls/connections/graphic.js"></script>
<script type="text/javascript" src="/static/hls/connections/dataprocessing.js"></script>
<script type="text/javascript" src="/static/hls/connections/app.js"></script>
{% endblock %}
{% block content %}
<div id="chartWraper">
</div>
{% endblock %}
