{% extends "base.html" %} {% block css_extra %}
<link type="text/css" href="/static/hls/connections/style.css"
	rel="stylesheet" />
{% endblock %} {% block js_extra %}
<script type="text/javascript" src="/static/bower_components/d3/d3.js"></script>
<!--  <script type="text/javascript" src="/static/bower_components/d3/plugins/bihisankey.js"></script> -->

<script type="text/javascript">
</script>
<script type="text/javascript" src="/static/hls/connections/test.js"></script>
<!--<script type="text/javascript" src="/static/hls/connections/app.js"></script> -->

{% endblock %}
{% block content %}
<div id="chartWraper">
</div>
{% endblock %}
