{% extends "base.html" %} {% block css_extra %}
<link type="text/css" href="/static/hls/gantt-style.css"
	rel="stylesheet" />
<link type="text/css" href="/static/hls/gantt_chart.css"
	rel="stylesheet" />
{% endblock %} {% block js_extra %}
<script type="text/javascript" src="/static/bower_components/d3/d3.js"></script>
<script type="text/javascript" src="/static/hls/gantt-chart-d3v2.js"></script>

<script type="text/javascript">
	var tasks = {{ ganttTasks|safe }};
	var taskNames = {{ganttTaskNames|safe}};
</script>

<script type="text/javascript" src="/static/hls/gantt_chart.js"></script>

{% endblock %}
{% block content %}
<div id="chartWraper">

	<button type="button" onclick="addTask()">Add Task</button>
	<button type="button" onclick="removeTask()">Remove Task</button>
	<button type="button" onclick="fitTasks()">Remove Task</button>

</div>
{% endblock %}
