svg {
	/*background-color: cyan;*/
	height: 100%;
	/*display: block;*/
	width: 100%;
	position: absolute;
	/*top: 0;
	left: 0;*/
}

.node rect {
	cursor: move;
	shape-rendering: crispEdges;
}

.node text {
	pointer-events: none;
	text-shadow: 1px 1px 2px #fff;
	font-size: 0.8em;
	font-family: sans-serif;
}

#tooltip {
	position: absolute;
	pointer-events: none;
	font-size: 0.7em;
	font-family: sans-serif;
	padding: 3px;
	width: auto;
	height: auto;
	background-color: #F2F2F2;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	-mox-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px rbga(0, 0, 0, 0.4);
	pointer-events: none;
}

.value {
	white-space: pre-line;
	margin: 0;
}

.component {
	fill: #AFEEEE;
}

.component text {
	fill: black;
	/*text-anchor: middle;*/
}

.component .port-input {
	fill: black;
}

path.link {
    stroke: black;
    stroke-width: 1px;
}