{{indent}}if ({{ cond }}) {% if ifTrue|length >0 %}{{ '{' }}
{% for s in ifTrue %}{{s}}
{%endfor%}{{indent}}{{'}'}}{% endif %}{% if elIfs|length >0 %}{% for c, stms in elIfs %} else if ({{c}}) {{ '{' }}
{% for s in stms %}{{s}}
{%endfor%}{{indent}}{{ '}' }}{%endfor%}{% endif %}{% if ifFalse|length >0 %} else {{ '{' }}
{%for s in ifFalse %}{{s}}
{% endfor %}{{indent}}{{'}'}}{% endif %}
